* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-style: normal;
}

html {
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	width: 980px;
	margin: auto;
	background: #333;
}

.adminmenu {
	height: auto;
	background: #333
}

.error {
	font-size: 14px;
	color: #c60300;
}

.success {
	font-size: 16px;
	color: green;
}

h6 {
	padding-top: 40px;
	padding-right: 10px;
	float: right;
	font-weight: normal;
	font-size: 50px;
	font-family: Brush Script MT;
	color: #FFFFFF;
	text-indent: 5px;
	letter-spacing: -1px;
}

.login-card {
	padding: 40px;
	width: 274px;
	background-color: #F7F7F7;
	margin: 200px auto auto auto;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.login-card h1 {
	font-weight: 100;
	text-align: center;
	font-size: 2.3em;
}

.login-card input[type=submit] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.mainbody select {
	height: 36px;
	font-size: 14px;
	width: 100%;
	margin-bottom: 5px;
}

.mainbody input {
	height: 36px;
	font-size: 14px;
	width: 100%;
	margin-bottom: 5px;
	
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.mainbody input[type=submit] {
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background-color: #4d90fe;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.mainbody input[type=reset] {
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background-color: #ff3333;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.mainbody textarea {
	height: 60px;
	font-size: 14px;
	width: 100%;
	margin-bottom: 5px;
	
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.mainbody input[type=checkbox] {
	/*all: unset;*/
	height: 30px;
	font-size: 14px;
	width: 10%;
	
	}

.login-card input[type=text], input[type=password] {
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.login {
	text-align: center;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
	/* border-radius: 3px; */
	/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background-color: #4d90fe;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #357ae8;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	opacity: 0.6;
	transition: opacity ease 0.5s;
}

.login-card a:hover {
	opacity: 1;
}

.login-help {
	width: 100%;
	text-align: center;
	font-size: 12px;
}

.mainbody {
	width: 937px;
	height: auto;
	margin-top: 5px;
	padding: 10px;
	float: left;
	background: #fff;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-khtml-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	position: relative;
}

.header {
	margin-bottom: 5px;
	width: 957px;
	height: 160px;
	float: left;
	background-image: url("../../images/brahm.jpg");
}

.footer {
	width: 957px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: gray;
	text-align: center;
	float: left;
}

.boxheader {
	width: 250px;
	height: 30px;
	background-color: #00B4FF;
	-webkit-border-radius: 10px;
	text-align: center;
	padding-top: 10px;
	font-family: arial;
	font-weight: bold;
}

.boxbody {
	float: left;
	margin: 20px 0px 20px 50px;
	width: 250px;
	height: auto;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-khtml-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	position: relative;
}

.boxheader:hover+ .padd{
	display:block;
	padding: 5px 0px 0px 25px;
}
.padd:hover {
	display:block;
	padding: 5px 0px 0px 25px;
}
.padd {
	display:none;
	
}

.padd a {
	
	color: #000;
	text-decoration: none;
	font-family: arial;
	font-size: 14px;
	line-height: 20px;
}

.boxbody ul a:hover {
	color: #FF6600;
}

.homeicon img {
	float: left;
	margin-left: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.welname {
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	color: red;
}

.logout img {
	float: right;
	margin-right: 30px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.headingfont {
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
}

.invalid {
	color: red;
	text-decoration: none;
	font-family: arial;
	font-size: 12px;
}

.lang a {
	color: white;
	text-decoration: none;
}

.lang a:hover {
	text-decoration: underline;
}

th, td {
	padding: 0px 10px 0px 10px;
}